<div class="browserNotSupported fillViewport">
    <div class="dialogSmall horizontalVerticalCenter">
        <div class="signBackground layer">
            <div class="northWest"></div>
            <div class="northEast"></div>
            <div class="southEast"></div>
            <div class="southWest"></div>
            <div class="north"></div>
            <div class="south"></div>
            <div class="east"></div>
            <div class="west"></div>
            <div class="center"></div>
        </div>
        <div class="layer">
            <div class="horizontalVerticalCenter">
                <p>{{browserNotSupported}}</p>
            </div>
        </div>
    </div>
</div>
